.main {
  &-container {
    display: flex;
    justify-content: space-evenly;
    //   tarpas tart cardu
    gap: 2rem;
    //   permesti i kita eilute jeigu netelpa i viena
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  &-action-btn {
    width: 100%;
  }
}
.btn1 {
  margin-right: 5px;
  background-color: var(---tan);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(---maincol);
  }
}

.container-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;

  input {
    padding: 10px;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 5px;
  }
}
