.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(---bg);
  margin-bottom: 2rem;

  ul {
    display: flex;
    /* taskus istrina */
    list-style: none;
    column-gap: 2rem;
    li {
      cursor: pointer;
      transition: all 0.2 ease;
      &:hover {
        color: var(---blue);
      }
      &:active {
        color: var(---blue);
      }
    }
  }
}
